/* Stili base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
header {
    background-color: #b30000;
    color: white;
    padding: 10px;
    position: relative;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav ul li {
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.menu-toggle {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 30px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

/* Responsive Menu */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #b30000;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        z-index: 1000;
    }
    nav ul.active {
        display: flex;
    }
    .menu-toggle {
        display: block;
    }
    nav ul li {
        text-align: center;
        padding: 10px 0;
    }
}
